<li id="clothes">
  <%= link_to clothes_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Clothes
  <% end %>
</li>

<li id="goods">
  <%= link_to goods_posts_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Goods
  <% end %>
</li>

<li id="housing">
  <%= link_to housing_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Housing
  <% end %>
</li>
